menu "Phytium Secure Crypto Engine (SCE) Driver"
comment "Phytium Secure Crypto Engine (SCE) Driver Config"

config CRYPTO_DEV_TE
	tristate "Support for Phytium SCE enabled security processors"
	depends on OF && CRYPTO_HW
	default m
	select CRYPTO_HASH
	select CRYPTO_SKCIPHER
	select CRYPTO_LIB_DES
	select CRYPTO_AEAD
	select CRYPTO_SHA1
	select CRYPTO_MD5
	select CRYPTO_SHA256
	select CRYPTO_SHA512
	select CRYPTO_HMAC
	select CRYPTO_AES
	select CRYPTO_DES
	select CRYPTO_CBC
	select CRYPTO_ECB
	select CRYPTO_CTR
	select CRYPTO_XTS
	select CRYPTO_RSA
	select CRYPTO_ECDH
	select CRYPTO_DH
	select HW_RANDOM
	help
	  This selects the crypto driver for the Phytium SCE hardware. It supports
	  AES/SM4 with ECB, CBC, CTR, OFB and XTS modes. And for hash, it supports MD5,
	  SHA1, SHA224, SHA256, SHA384 and SHA512. it also supports GCM and CCM.
endmenu
